NODE_ENV=development
PORT=5000
DATABASE_URL=your_database_url_here
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:3000

# Stripe Configuration
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000

# SSL Commerz Configuration
SSLCOMMERZ_STORE_ID=your_sslcommerz_store_id_here
SSLCOMMERZ_STORE_PASSWORD=your_sslcommerz_store_password_here
SSLCOMMERZ_IS_SANDBOX=true